<!-- This needs to move to a settings config -->
<div id="groups" style="text-align:center;margin-top:20px;">
<h2>Group Daily's</h2>
     <a href="/daily/as">Application Services</a> - 
     <a href="/daily/auctions">Auctions</a> - 
     <a href="/daily/miscdevs">Misc Devs</a> -
     <a href="/weekly/moneybas">Money BAs</a> -  
     <a href="/daily/moneydevs">Money Devs</a> -
     <a href="/daily/pex">Payment Express</a> - 
     <a href="/daily/pt">Platform Team</a> 
</div>